*, *::before, *::after {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
    background-image: linear-gradient(#0047AB,#011936);
    color: #FDF6EC;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  padding: 2rem; 
  margin-top: 75px; 
}

h2 {
    color: #FFF193;
}

h3 {
    color: #FFF193;
}

img {
    height: 300px; 
    width: 300px; 
    border-radius: 50%; 
    object-fit: cover; 
    object-position: 50% 30%; 
    margin: 30px; 
    border: 3px solid #FFF193; 
}

img:hover {
    border: 3px solid #FFF193; 
}

header {
    background-color: #011936;
    width: 90%; 
    padding: .1rem 1em;
    position: fixed; 
    top: 25px; 
    left: 5%; 
    border-radius: 50px; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
    border: 2px solid #FFF193;
}

header:hover {
    border: 2px solid #FDF6EC;
}

a {
    color: #FFF193; 
    text-decoration-line: none;
    padding: .3em; 
    font-size: 30px; 
}

a:hover {
    color: #FDF6EC;
}

.card-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card {
    background-color: #0047AB;
    border-radius: 5px; 
    margin: 1em; 
    padding: 1em;
    box-shadow: 5px 5px #011936;
}

div {
    padding: .5em;
}

.glass-element {
  background: rgba(255, 255, 255, 0.15); /* Semi-transparent background */
  backdrop-filter: blur(10px) saturate(180%); /* Blur and saturation for frosted effect */
  border-radius: 15px; /* Rounded corners */
  
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), 
              inset 0 4px 20px rgba(255, 255, 255, 0.3); /* Outer and inner shadows */
}

nav {
    display: flex; 
    justify-content: space-between; 
}

.nav-links {
    margin-left: auto; 
}

.relative { position: relative; }
.absolute { position: absolute; }
.z-0 { z-index: 0; }
.z-10 { z-index: 10; }
.inset-0 { top: 0; right: 0; bottom: 0; left: 0; }

form {
    margin-top: 150px; 
}

input, textArea {
    color: #011936;
    background-color: #FDF6EC;
    padding: 1em; 
    margin: 1em; 
    width: 100%; 
    border-radius: 10px; }

input:hover, textArea:hover {
    background-color: #FDF6EC;
    border: 3px solid #FFF193;
}

label {
    color: #FFF193;
}

input .submit {
    background-color: #FFF193;
}